/* 
    Created on : 12/05/2017, 10:45:54
    Author     : Administrador
*/

/*fixar topo no inicio da pagina*/
.topo{
    margin: auto;
    width: 100%;
    top: 0;
    position: initial;
}

/*fixar o rodapé no fim da pagina*/

.footer{
    position:absolute;
    bottom:0; 
    margin: auto;
    width: 100%;
    bottom: 0;
    position:initial;
    min-width: 1190px;
    margin-top: 80px;
    overflow: hidden;
}

#login{
    position:absolute;
    left:35%;
    top:35%;
    margin-left:-120px;
    margin-top:-45px;
    width: 50%;
}


   a#btnBusca.waves-effect.waves-light.btn{
    position: absolute;
    top: 0;
    right: 0;
}
